.content{
    height: 100%;
    display: flex;
}

.content-bg{
    background-image: linear-gradient(to right, #cc2b5e , #753a88);
    height: 300px;
    width: 100%;
}

.btn{
    align-self: flex-end;
    
}

.div-btn{
    justify-content: space-between;
    margin-top: 5px;
  }

.content-form{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 20%;
    right: 20%;
    border: solid 1px #ddd;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ddd;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.table{
    width: 100%;
    padding: 10px;
}

.table-historico{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;  
    justify-content: space-between;
    
}
.row div{
    border: solid 1px #ddd;
    width: 100%;
    text-align: center;
}

.user-logOut a{
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}